.background {
    /*background-color: #050E3C;
    background-color: #002455;*/
    /*background-color: #EFECE3; */
    /*background-color: #4A4a4A; gray */
    /*background-color: #0E0E11 charcoal */
    /*background: transparent;*/
    border-top: 5px solid rgba(255,255,255, 0.5);
    scroll-margin-top: 50px;
}

.container {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 70px;
    padding: 20px 20px;
    /*background-color: #4A4A4A; gray*/
    /*background-color: #002455; dark blue */
    /*background-color: #16181D;*/
    /*background-color: #09082a;*/
    background: rgba(15, 23, 42, 0.55);   

    gap: 50px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    /*box-shadow: 2px 5px 5px  red;*/
}

/*background-color: #EFECE3; */
/*background-color: #DC0000; */