#relevantcoursework {
    scroll-margin-top: 50px;
}

.background {
    /*background-color: black;*/
    /*background: linear-gradient(
        135deg,
        #0F172A,
        #002F6C
    );*/
    scroll-margin-top: 50px;
    background: transparent;
    border-top: 5px solid rgba(255,255,255, 0.5);
}


.container {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 70px;
    padding: 20px 20px;
    /*background-color: #5682B1;*/
    gap: 50px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
}