.background {
    background-color: black;
}


.container {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 70px;
    padding: 20px 20px;
    background-color: #5682B1;
    gap: 50px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
}