section {
    border-top: 5px solid rgba(255,255,255, 0.5);
    color: #FCF6F5;
    padding: 22px 24px 50px;
}

.background {
    scroll-margin-top: 50px;
}

.ExperienceGrid {
    display: grid;
    margin: 10px 20px; /* top/bottom left/right */
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    gap: 28px;
    align-items: start;
}