
.container {
    width: 100%;
    height: 5rem;
    background: rgba(15, 23, 42, 0.55);
    border-top: 5px solid rgba(255,255,255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}

p {
    color: white;
}