.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 80px;
  background-color: #111;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  font-size: 16px;
}

.navLinks a:hover {
  color: #6cc9ff;
  cursor: pointer;
}