.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 28px 80px;*/         /* top/bottom left/right */
  padding-left: 80px;
  padding-right: 80px;
  background-color: #111;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.tag {
  display: flex;
  gap: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  height: 50px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}

.navLinks {
  padding-top: 28px;
  padding-bottom: 28px;
  list-style: none;
  display: flex;
  gap: 25px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  font-size: 16px;
}

.navLinks a:hover {
  color: #6cc9ff;
  cursor: pointer;
}