.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 28px 80px;*/         /* top/bottom left/right */
  padding-left: 60px;
  padding-right: 60px;
  background-color: #111;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.tag {
  display: flex;
  gap: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  height: 50px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
}

.navLinks {
  padding-top: 28px;
  padding-bottom: 28px;
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  font-size: 16px;
}

.navLinks a:hover {
  color: #6cc9ff;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 25px;
}

.logo_link {
  height: 50px;
  transition: transform 0.3s ease;
}

.logo_link:hover {
  cursor: pointer;
  transform: translateY(-2px);
  opacity: 0.8;
}

.wrapper {
  position: relative;
}

.popup_label {
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  opacity: 0;
  font-size: 14px;
  background-color: #0E0E11;
  border-radius: 6px;
  padding: 6px 8px;
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
  white-space: nowrap;

}

.wrapper:hover .popup_label {
  opacity: 1;

}

