.box {
    display: flex;
    justify-content: center;
    position: relative;
    height: 210px;
    width: 250px;
    border-style: none;
    background-color: #FCF6F5;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    box-shadow: 2px 5px 5px greenyellow;
    transform: translateY(-3px);
}

.box:hover .label {
    box-shadow: 4px 10px 10px;
}

.icon {
    height: 200px;
    width: 200px;
    background-color: #FCF6F5;
}

.label {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    min-height: 20px;
    background-color: rgba(128, 128, 128, 0.7);
    color: greenyellow;
    width: 100%;
    font-size: 20px;
    font-family: Georgia;
    box-shadow: 2px 5px 5px;
}